
.agenda-div{
    font-family: arial;
    width: 20%;
    background-color: white;
     -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,.5);
    margin-top: 20px;
    margin-bottom: 20px; 
}

/*Tipo de cita*/
.agenda-div select{
    width: 100%;
    height: 2em;
    border: 0px;
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
    
}

/*Frase Agenda*/
.agenda-div h1{
    font-size: 16pt;
    margin-left: 20px;
    color: #666;
}

.agenda-div div{
    width: 100%;
    padding: 10px;
}

/*Botones de dia, semana y mes*/
.agenda-div input[type=radio]{
    display: none;
}

.agenda-div label{
    padding: 5px 15px;
    cursor:pointer;
    padding-bottom: 4px;
}

.agenda-contenido div{
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #ccc;
    cursor: pointer;
}

.agenda-contenido div div{
    width: 75%;
    border-top: 0px;
}

.agenda-contenido img{
    margin-top: 10px;
    width: 4em;
    height: 4em;
}

#fecha{
    background-color: #70d67f;
    margin-bottom: 5px;
    border: 1px solid #70d67f;
    border-radius: 10px;
    padding: 3px;
}

#citas-semana, #citas-mes{
	display: none;
}

.selected{
	border-radius: 10px 10px 0px 0px;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	font-weight: bold;
}
