
@import url("formulario.css");
@import url("style.css");
@import url("tables.css");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.contenido{
	margin-top: 20px;
    width: 80%;
    margin: auto;
    background-color: white;
    padding-bottom: 20px;
     -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,.5);
}

h1{
	background-color: #008080 !important; 
    color: white;
}