@import url(tables.css);
@import url("style.css");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.contenido{
	margin-top: 20px;
    width: 60%;
    margin: auto;
    text-align:center;
    background-color: white;
    padding-bottom: 20px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
}

h1{
	text-align: center;
	background-color: #9fe3d6 ; 
	margin-bottom: 30px;
}

p{
	
	margin-top: 15px;
	font-size:14pt;
	font-weight: bold;
}

.contenido > label{
	display: inline-block;
	width: 25%;
	font-size: 12pt;
}

.contenido > input{
	display: inline-block;
	font-size: 1.1em;
	padding: 10px;
	background: rgba(0,0,0,0.1);
	border: 1px solid rgba(0,0,0,0.3);
	width: 25%;
} 


/*-----Formulario-----*/

.formulario {
	background-color: white;
    width: 60%;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
    
}


.formulario__input, .formulario__label{
	margin-left: 5%;
    display: block;    
    font-size: 1.1em;
}

.formulario__input{
	width: 90%; 
	margin-left: 5%;
    padding: 10px;
    background: rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.3);
    margin-bottom: 30px
}

.formulario__input:focus {
    outline: 1px solid rgba(0,0,0,0.7);
}

.formulario__input:focus + .formulario__label{
    margin-top: -90px;   
}

.formulario__label {
	
    position: absolute;
    margin-top: -60px;
    color: rgba(0,0,0,0.9); 
    transition: all 0.2s;
}

.guardar, .cancelar, .agregar_u{
	cursor:pointer;
    margin-top: .10rem;
    margin-bottom: 20px;
    width: 18%;
    height: 33px;
    border-radius: .25rem;
    border: 1px solid transparent;
    color: #fff;
    font-size: .9rem;
}

.guardar{
    background-color: #70D6C1;
    margin-left: 31%;
}

.agregar_u{
	margin-top: 20px;
	background-color: #70D6C1;
	
}


.cancelar{
    background-color: #d92550;
    margin-left: 2%;
}

 .estatic, .fijar{
   margin-top: -90px; 
}

.formulario > h2{
	margin-bottom: 20px;
}

/*Div tipos de usuarios*/

#tipos{
	width: 90%;
	margin-left: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	
}

h2{
	text-align: center;
}

li{
	margin-left: 25px;
}

#tipos > div{
	padding: 10px 20px;
	
	text-align: left;
	width: 25%;
	border: 1px solid #ccc;
}

#guardar_cant, #formulario-new{
	display: none;
}

#mod_pass{
	margin-left: 41% !important;
}