h1{
    font-family: helvetica;
    font-style: normal;
    text-align: center;
    width: 100%;
    background-color: #70a9d6;
    margin-bottom: 5px;
}    

table{
    margin: auto;
    margin-top: 10px;
    text-align: center;
    width: 95%;
    border: 1px solid #ddd;
    padding: 5px;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table button{
	cursor: pointer;
	background: none;
	border: 0;
    margin-left: 10px;
}

table button img{
	padding-top: 7px;
	padding-bottom: 5px;
}

/*-- Codigo a eliminar*/
table a{
    margin-left: 10px;
}

table a img{
	padding-top: 7px;
	padding-bottom: 5px;
}
/*-- fin eliminar-->*/

th, tr{
    padding-left: 10px;
}

tr{
    height: 30px;
}

#tbody1 tr:nth-child(4n+1) {
    background-color:#daeffe;
}

#tbody1 tr:nth-child(4n) {
    background-color:#fff;
	
}

table table tr{
	 background-color:#daeffe !important;
}

form#busqueda{    
    margin: auto;
    margin-top: 10px;
    width: 95%;
    padding: 10px;
    font-size: 12pt;
}

form#busqueda > *{
    margin-left: 10px;
    border: 0px;
}

form#busqueda > input, form#busqueda > select{
    border-bottom: 1px solid #aaa;
    padding-left: 10px;
}


form#busqueda > select{
    border: 1px solid  #aaa;
    border-radius: 10px;
    padding-left: 10px;
}