/*form*/
.card{
    width: 120%;
    flex: 1 1 auto;
    padding: 2.25rem;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03),0 0.9375rem 1.40625rem rgba(4,9,20,0.03),0 0.25rem 0.53125rem rgba(4,9,20,0.05),0 0.125rem 0.1875rem rgba(4,9,20,0.03);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(26,54,126,0.125);
    border-radius: .25rem;
    margin-bottom: 30px;
}

h5{
    margin: 0;
    text-transform: uppercase;
    color: rgba(13,27,62,0.7);
    font-weight: bold;
    font-size: .88rem;
    margin-bottom: .75rem;
}

input{
    display: block;
    width: 99%;
    padding: .325rem 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    margin-bottom: 1rem;
    padding-left: 12px;
}

.info_label{
    font-size: .88rem;
    margin-bottom: .5rem;
    display: inline-block;

}

.img {
    width: 199px;
    height: 303px;
    padding: 1px; 
    margin: 10px; 
    border: 2px solid black; 
    float: left; 
}

.guardar{
    margin-top: .5rem;
    width: 79px;
    height: 33px;
    border-radius: .25rem;
    border: 1px solid transparent;
    color: #fff;
    background-color: #70D6C1;
    border-color: #70D6C1;
    font-size: .8rem;
}

.cancelar{
    margin-top: .5rem;
    width: 79px;
    height: 33px;
    border-radius: .25rem;
    border: 1px solid transparent;
    color: #fff;
    background-color: #d92550;
    border-color: #d92550;
    font-size: .8rem;
}
/*endform*/