h5{
	text-align: center;
    margin: 0;
    color: rgba(13,27,62,0.7);
    font-weight: bold;
    font-size: .98rem;
    margin-bottom: 1.9rem;
}

.formulario {
	background-color: white;
    width: 80%;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
    position: relative;
}

.formulario__titulo {
    text-align: center;
    margin-top: 0;
    color: rgba(0,0,0,0.7);
}

.formulario__input, .formulario__label, .formulario__label_fija{
    display: block;
    width: 100%; 
    font-size: 1.1em;
}

.input-40, .label-input-40{
	display: inline-block;
	width: 45%;
	font-size: 1.1em;
}

.input-30{
	display: inline-block;
	width: 30%;
	font-size: 1.1em;
}

.input-20{
	display: inline-block;
	width: 18%;
	font-size: 1.1em;
}

.label-input-30{
	display: inline-block;
	width: 30%;
	font-size: 1.3em;
}

.label-input-20{
	display: inline-block;
	width: 18%;
	font-size: 1.3em;
}

#date-time{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#cont-producto{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.formulario__input, .input-40, .input-30, .input-20 { 
    padding: 10px;
    background: rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.3);
    margin-bottom: 30px
}

.formulario__input:focus ,.input-40:focus, .input-30:focus, .input-20:focus {
    outline: 1px solid rgba(0,0,0,0.7);
}

.formulario__input:focus + .formulario__label{
    margin-top: -90px;   
}

.formulario__label_fija {
    padding-left: 15px;
    padding-bottom: 5px;
    margin-top: -20px;
}

.formulario__label {
    padding-left: 15px;
    position: absolute;
    margin-top: -60px;
    color: rgba(0,0,0,0.9); 
    transition: all 0.2s;
}

.label-input-40 {
    padding-left: 15px;
    color: rgba(0,0,0,0.5); 
}

.label-input-30, .label-input-20 {
	text-align: right;
	padding-top: 5px;
    padding-left: 15px;
    color: black; 
}

.buscar{
	cursor:pointer;
    margin-top: .10rem;
    width: 30%;
    height: 33px;
    border-radius: .25rem;
    border: 1px solid transparent;
    color: #fff;
    background-color: #70D6C1;
    border-color: #70D6C1;
    font-size: .9rem;
}

.agregar{
	cursor:pointer;
    margin-top: .10rem;
    width: 18%;
    height: 33px;
    border-radius: .25rem;
    border: 1px solid transparent;
    color: #fff;
    background-color: #70D6C1;
    border-color: #70D6C1;
    font-size: .9rem;
}


.guardar, .cancelar, .actualizar{
	cursor:pointer;
    margin-top: .10rem;
    width: 18%;
    height: 33px;
    border-radius: .25rem;
    border: 1px solid transparent;
    color: #fff;
    font-size: .9rem;
}

.guardar, .actualizar{
    background-color: #70D6C1;
    border-color: #70D6C1;
    margin-left: 31%;
}

.actualizar{
	display: none;
}

.cancelar{
    background-color: #d92550;
    border-color: #d92550;
    margin-left: 2%;
}

.fijar, .estatic{
   margin-top: -90px; 
}
