@import url("style.css");
@import url("extend-table.css");

#reporte2{
	display: none;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.contenido{
    width: 80%;
    margin: auto;
    background-color: white;
    padding-bottom: 20px;
     -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,.5);
    margin-bottom: 20px;
}

.bt-menos, .busq_fecha{
	display: none;
}

#grafica{
	padding: 15px;
}

.but-descargar{
	cursor: pointer;
    margin-top: .10rem;
    width: 20%;
    height: 33px;
    border-radius: .25rem;
    border: 1px solid transparent;
    color: #fff;
    background-color: #7a70d6;
    font-size: .9rem;
    margin-left: 20%;
}

#busc_calendar{
	margin-left: 15% !important;
	
}


	

