@import url("formulario.css");
@import url("style.css");
@import url("tables.css");

body {
    margin: 0;
    font-family: sans-serif;
}

.contenido{
    width: 80%;
    margin: auto;
    background-color: white;
    padding-bottom: 20px;
     -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,.5);
}
