* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

h5{
    margin: 0;
    text-transform: uppercase;
    color: rgba(13,27,62,0.7);
    font-weight: bold;
    font-size: .98rem;
    margin-bottom: 1.9rem;
}

.formulario {
    width: 80%;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
    position: relative;
}

.formulario__titulo {
    text-align: center;
    margin-top: 0;
    color: rgba(0,0,0,0.7);
}

.formulario__input, .formulario__label {
    display: block;
    width: 100%; 
    font-size: 1.1em;
}

.formulario__input { 
    padding: 10px;
    background: rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.3);
    margin-bottom: 30px
}

.formulario__input:focus {
    outline: 1px solid rgba(0,0,0,0.7);
}

.formulario__input:focus + .formulario__label{
    margin-top: -90px;   
}

.formulario__label {
    padding-left: 15px;
    position: absolute;
    margin-top: -60px;
    z-index: -20;
    color: rgba(0,0,0,0.5); 
    transition: all 0.2s;
}

.guardar{
    margin-top: .10rem;
    width: 200px;
    height: 33px;
    border-radius: .25rem;
    border: 1px solid transparent;
    color: #fff;
    background-color: #70D6C1;
    border-color: #70D6C1;
    font-size: .9rem;
    margin-left: 19rem
}

.cancelar{
    margin-top: .10rem;
    width: 200px;
    height: 33px;
    border-radius: .25rem;
    border: 1px solid transparent;
    color: #fff;
    background-color: #d92550;
    border-color: #d92550;
    font-size: .9rem;
    margin-left: 2rem
}

.fijar{
   margin-top: -90px; 
}