
* {   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color: #495056;
    text-align: left;
    background-color:#eee;
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.5;
    box-sizing: content-box;
}

input#abrir-cerrar {
    display: none;
}

label[for="abrir-cerrar"] {
    cursor:pointer;
    height: 60px;
    width: 60px;
    position: fixed;
}

div#label_sup {
    display: flex;
    flex-wrap: wrap;
    background-color: #70D6C1;
    width:100%;
    height: 60px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    
}

input#abrir-cerrar:checked ~ .sidebar {
    width:280px;
}

input#abrir-cerrar:checked ~ div#label_sup{
    margin-left:280px;
    transition: margin-left .4s;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.4s;
    box-sizing:border-box;
}

.sidebar ul, .sidebar li{
    margin:12px;
    padding:0;
    list-style:none inside;
}

.sidebar a {
    display: block;
    font-size: 110%;
    color: #495057;
    text-decoration: none;
    
}
.sidebar a:hover{
    color:#000;
    font-weight: bold;
    background-color: #02B2ED30;
}
.abrir-cerrar {
    color: #2E88C7;
    font-size:1rem;   
}

/*logo*/
.logo img{
    max-width: 109px;
    padding: 15px 1px 3px 25%;
    box-sizing: content-box;
}
.logo{
    background-color: #70D6C1;
    height: 60px;
    box-sizing: content-box;
}
/*endlogo*/

/*menu*/
.menu_button {
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
}
.button{
    padding: 1rem;
    width: 10px;
}
.title{

    margin: .75rem 0;
    font-weight: bold;
    color: #70D6C1;
    white-space: nowrap;
    position: relative;
}
.sidebar .menu .active > a{
    color:#000;
    font-weight: bold;
    background-color: #02B2ED30;
}
.menu ul{
    display: none;
}
.select li a{
    display: block;
    line-height: 2.7rem;
    height: 2.4rem;
    padding: 0 1.5rem 0 0px;
    position: relative;
    border-radius: .25rem;
    color: #343a40;
    white-space: nowrap;
    transition: all .2s;
    margin: .1rem 0;
}
/*icon*/
.icon{
    padding-right: 10px ;
    padding-left: 10px;
    text-align: center;
    width: 34px;
    height: 34px;
    line-height: 34px;
    
    font-size: 1.3rem;
    opacity: .3;
    transition: color 300ms;
}

.icon-right{
    position: absolute;
    transition: transform 300ms;
    right: 0;
    margin-top: 10px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    
}

.icon-right:hover{
    margin-top: 0px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
/*endicon*/
/*endmenu*/
#contenido {
    display: flex;
    justify-content: space-around;
    padding-top: 90px;
}

#logo-extend{
    margin-left: 40%;
    margin-top: 5px;
    height: 80%;
   
}
