@import url("formulario.css");
@import url("style.css");
@import url("tables.css");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

#div-cambio > input{
	margin-left: 10px;
	
}

#div-cambio > label{
	width: 18%;
	
}

.hide{
	display: none;
}

